<h1>Students List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Contact Number</th>
            <th>Parent Name</th>
        </tr>
        
            <tr>
            <td><%= current_student.full_name %></td>
            <td><%= current_student.email %></td>
            <td><%= current_student.contact_number %></td>
            <td><%= current_student.parent_name %></td>
            </tr>
        
    </table>
    